@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Outfit:wght@300;500;700&family=Zeyada&display=swap");

h3 {
    font-family: Outfit;

    font-size: 2rem;
    color: #312e2e;
}

h4 {
    text-align: center;
    font-family: Zeyada;
    color: rgb(169, 2, 118);
    font-size: 2rem;
    margin-top: rem;
}

h1 {
    font-family: Outfit;
    font-weight: 700;
    font-size: large;
    color: #1e1e1e;
}

p {
    font-family: Outfit;
    font-weight: 300;
    font-size: small;
    color: #1e1e1e;
}

label {
    font-family: Outfit;
    font-weight: 500;
    font-size: 1rem;
    color: #424242;
}

.footer {
    width: 100%;
    margin: 0;
    height: 70px;
    background-color: purple;
    text-align: center;
}

h5 {
    font-family: Outfit;
    font-weight: 500;
    font-size: 1rem;
    color: #ffffff;
}
